/* section pay */

.PartePagos {
    border: 1px solid #1e1e1e;
    padding-top: 45px;
    padding-bottom: 25px;
}

.PartePagos .title {

    text-align: center;
    padding: 20px;
}

.PartePagos .cartilla-pago {
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.356);
    border-radius: 15px;
    transition: .3s;
    background-color: #ffffff;
}

.PartePagos .cartilla-pago:hover {
    transform: scale(1.1);
    z-index: 2;
}

.PartePagos .pay-title>h4,
.PartePagos .pay-title>h5 {
    text-align: center;
    font-size: 25px;
}

.PartePagos ul {
    position: relative;
}

.PartePagos li {
    text-decoration: none;
    list-style: none;
}

.PartePagos .FontAwesomeIcon {
    position: absolute;
    transform: translate(-20px, 4px);
}

.PartePagos .pay-title>h4>.span {
    font-size: 15px;
}




/* section IMC */

.ParteIMC {
    border: 1px solid #1e1e1e;
    padding-top: 70px;
    padding-bottom: 50px;
}

.ParteIMC .datos-title>h3 {
    font-size: 23px;
}

.ParteIMC .datos-title>h1 {
    font-size: 35px;
}

.ParteIMC span {
    color: rgb(255, 38, 0);
}

.ParteIMC .resultado {
    position: absolute;
    height: 100%;
}

.ParteIMC .resultado>* {
    position: absolute;
    right: 0;
    display: none;
    animation: flecha 1s infinite linear;
}

.ParteIMC .fuente {
    position: absolute;
    font-size: 15px;
    text-align: start;
}

@keyframes flecha {
    0% {
        right: 0;
    }

    50% {
        right: 10px;
    }

    100% {
        right: 0;
    }
}

.ParteIMC .resultadoIMC {
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: rgb(120, 123, 126);
}