
.card-text{
    color: rgba(255, 68, 0, 0.742);
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

input,
input:focus,
input:hover,
button,
button:hover,
button:focus {
    outline: none;
}

section {
    overflow: hidden;
}

img {
    width: auto;
    max-width: 100%;
}

/* p {
    font-size: 15px;
    line-height: 24px;
    color: #777777;
    font-weight: normal;
    margin-bottom: 12px;
} */

.h4-title{
    font-family: 'Catamaran', sans-serif;
    font-size: 80px;
    color: #ffffff;
    font-weight: 900;
    line-height: 90px;
}

.h2-title{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 65px;
    color: #ffffff;
    line-height: 70px;
    font-weight: 800;
    padding-bottom: 25px;
    padding-top: 18px;
}

.h3-title {
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    color: #ffffffa9;
    line-height: 35px;
    font-weight: 800;
}

.subtitle {
  background-color: rgb(253,61,12,0.1);
  text-align: center;
  border-radius: 10px;
  padding: 15px 28px;
  display: inline-block;
}

.h2-subtitle {
    font-family: 'Catamaran', sans-serif;
    font-size: 22px;
    color: #ffffff;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
}

.container{
    position: relative;
    z-index: 5;
}

#card-rutinas{
  color: #ffffff;
  cursor: pointer;
}
#card-rutinas:hover{
  color: #fd3d0c;
}
#banner {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
  padding-top: 228px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/img/11.jpg);
}
a .h2-title:hover{
  color: #fd3d0c;
  cursor: pointer;
}
.banner-in-title{
  
  display: flex;
  text-transform: uppercase;
  
  justify-content: center;
  background-color: rgb(49, 53, 53);
  opacity: 0.7;
  border-radius: 20px;
}

/* CARDS PORTAFOLIO */
#portafolio-cards{

  margin: 0 auto;
  max-width: 1300px;
  
}
.portfolio-detail-img-box{
  margin-top: 10px;
  margin-bottom: 10px;
}
.portfolio-detail-img-cfw {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.portfolio-detail-img-cfw.one {
  margin-top: 30px;
  margin-bottom: 50px;
}

.portfolio-detail-img-cfw>img {
  width: 100%;
  transform: scale(1);
  border-radius: 10px;
  transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.portfolio-detail-img-cfw:hover>img {
  transform: scale(1.05);
  transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

